@model List<MyPortfolioMVC.Models.TblExperience>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h2>Deneyimler</h2>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Şirket Adı</th>
        <th>Title</th>
        <th>Başlangıç</th>
        <th>Bitiş</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.CompanyName</td>
            <td>@item.Title</td>
            <td>@item.StartDate.Value.ToShortDateString()</td>
            <td>@(String.IsNullOrEmpty(item.EndDate?.ToString()) ? "Devam Ediyor": item.EndDate?.ToShortDateString() )</td>
            <td>@item.Description</td>
            <td><a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Experience/UpdateExperience/@item.ExperienceId" class="btn btn-outline-info">Güncelle</a></td>

        </tr>
    }
</table>
<br />
<a href="/Experience/CreateExperience/" class="btn btn-outline-success">Yeni Deneyim Ekle</a>

