
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@Html.Partial("~/Views/AdminLayout/AdminLayoutHead.cshtml")

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        @Html.Partial("~/Views/AdminLayout/AdminLayoutSpinner.cshtml")
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @Html.Partial("~/Views/AdminLayout/AdminLayoutSidebar.cshtml")
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @Html.Partial("~/Views/AdminLayout/AdminLayoutNavbar.cshtml")
            <!-- Navbar End -->
            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="container-fluid bg-secondary">
                    @RenderBody()
                </div>
            </div>
            <!-- Blank End -->
            <!-- Footer Start -->
            @Html.Partial("~/Views/AdminLayout/AdminLayoutFooter.cshtml")
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
@Html.Partial("~/Views/AdminLayout/AdminLayoutSpricts.cshtml")
</body>

</html>
